<%- include('header') %>  

<div class="container">
    <h2>Nuevo Inicio de Sesión</h2>
    <form method="POST" action="/add_password" class="form">
        <input type="name" name="name" placeholder="Nombre del Item" required>
        <input type="user" name="user" placeholder="Usuario" required>
        <% if (password) { %>
            <input type="password" name="password" placeholder="Contraseña" id="password" value="<%= password %>" required>
        <% }else { %>
            <input type="password" name="password" placeholder="Contraseña" id="password" required>
        <% } %>
        <button type="button" id="showPassword">Mostrar Contraseña</button>
        <a href="/gen_password" class="button">Generar Contraseña</a>
        <input type="text" name="comment" id="comment" placeholder="Comentario">
        <button type="submit">Agregar Credenciales</button>
    </form>
</div>
<script> 
    const passwordInput = document.querySelector("#password")

    const showButton = document.querySelector("#showPassword")

    showButton.addEventListener("click", (e) => {
    if (passwordInput.type === 'text') {
        passwordInput.type = 'password';
    } else {
        passwordInput.type = 'text';
    }
})
</script>
<%- include('footer') %> 