<%- include('header') %>  

<div class="container">
    <h2>Panel de Control</h2>
    <p>Aquí se mostrarán tus contraseñas guardadas (Función futura)</p>
    <a href="/add_password" class="button">Agregar nueva contraseña</a>
</div>

<%- include('footer') %> 