<%- include('header') %>  

<div class="container">
    <h2>Generar Contraseña</h2>
    <form method="POST" action="/gen_password" class="form">
        <label for="numeric">Números</label><input type="checkbox" name="numeric" id="numeric">
        <label for="uppercase">Letras Mayúsculas</label><input type="checkbox" name="uppercase" id="uppercase">
        <label for="lowercase">Letras Minúsculas</label><input type="checkbox" name="lowercase" id="lowercase">
        <label for="special">Caracteres Especiales</label><input type="checkbox" name="special" id="special">
        <label for="length">Longitud de la Contraseña</label><input type="number" name="length" id="length" min="4" max="64" required>
        <button type="submit">Generar Contraseña</button>

    </form>
</div>
<%- include('footer') %> 